# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# Database
*.db

# testing
/coverage

# cache
.swc/

# production
build
out
dist

# misc
.idea
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# any env files
.env*

# local folder
local

# vercel
.vercel

.react-router
