@import 'tailwindcss';
@import 'default-theme.css';
@import 'dark-theme.css';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  /* Element sizes */
  --site-max-width: 1920px;

  --radius: 0.625rem;
}

@theme inline {
  /* Colors */
  --color-primary: var(--theme-color-primary);
  --color-primary-foreground: var(--theme-color-primary-foreground);

  /* Breakpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 430px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;
  --breakpoint-3xl: 2560px;

  /* Typography */
  --text-xs: 1rem;
  --text-xs--line-height: 1.25rem;
  --text-sm: 1.2rem;
  --text-sm--line-height: 1.55rem;
  --text-base: 1.6rem;
  --text-base--line-height: 1.95rem;
  --text-lg: 1.8rem;
  --text-lg--line-height: 2.25rem;
  --text-xl: 2.2rem;
  --text-xl--line-height: 2.75rem;
  --text-2xl: 2.6rem;
  --text-2xl--line-height: 3.1rem;
  --text-3xl: 3.2rem;
  --text-3xl--line-height: 3.55rem;
  --text-4xl: 5.4rem;
  --text-4xl--line-height: 5.75rem;
  --text-5xl: 6.2rem;
  --text-6xl: 7rem;
  --text-7xl: 7.8rem;
  --text-8xl: 9.4rem;
  --text-9xl: 11rem;

  /* Z-indexes */
  --z-underscreen: -10;
  --z-background: 10;
  --z-lower: 20;
  --z-content: 30;
  --z-overlay: 40;
  --z-modal: 50;
  --z-dropdown: 60;
  --z-tooltip: 70;
  --z-top: 80;

  --spacing: 0.4rem;
  /* Max Width */
  --spacing-xs: 32rem;
  --spacing-sm: 38.4rem;
  --spacing-md: 44.8rem;
  --spacing-lg: 51.2rem;
  --spacing-xl: 57.6rem;
  --spacing-2xl: 67.2rem;
  --spacing-3xl: 76.8rem;
  --spacing-4xl: 89.6rem;
  --spacing-5xl: 102.4rem;
  --spacing-6xl: 115.2rem;
  --spacing-7xl: 128rem;

  /* Easings */
  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
  --ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
  --ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);
  --ease-in-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@utility z-* {
  z-index: --value(--z-*);
}

@layer base {
  body {
    @apply text-primary bg-primary-foreground;
  }
}
